<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- logback-spring.xml is not required? -->
    <springProperty scope="context" name="pattern" source="my.pattern" defaultValue="??? %m%n"></springProperty>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
